<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LagerMan_v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <applicationSettings>
    <LagerMan_v2.Properties.Settings>
      <setting name="logSource" serializeAs="String">
        <value>LagerMan</value>
      </setting>
      <setting name="eventlog" serializeAs="String">
        <value>Application</value>
      </setting>
      <setting name="SP_StartRow" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="SP_cNameCol" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SP_cNameRow" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="SP_mfgBy" serializeAs="String">
        <value>Sunpower</value>
      </setting>
      <setting name="panelProdGrp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="inverterProdGrp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="panelsTable" serializeAs="String">
        <value>panels</value>
      </setting>
      <setting name="invertersTable" serializeAs="String">
        <value>inverters</value>
      </setting>
      <setting name="debug" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AG_StartRow" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AG_cNameCol" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="AG_cNameRow" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AG_mfgBy" serializeAs="String">
        <value>Algatec</value>
      </setting>
    </LagerMan_v2.Properties.Settings>
  </applicationSettings>
<connectionStrings>
  <add name="inventoryBaseEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=solcellespecialisten.cnwfj8va3xp9.eu-west-1.rds.amazonaws.com;user id=jj;database=inventoryBase;password=buDs7Cs!;persist security info=True&quot;"
    providerName="System.Data.EntityClient" />
  <add name="LocalEntities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\Database1.sdf&quot;"
    providerName="System.Data.EntityClient" />
  <add name="LagerMan_v2.Properties.Settings.inventoryBaseConnectionString"
    connectionString="User Id=jj;password=buDs7Cs!;server=solcellespecialisten.cnwfj8va3xp9.eu-west-1.rds.amazonaws.com;database=inventoryBase" />
</connectionStrings>
</configuration>
